<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<header th:fragment="f_body_header" class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Sample</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Action Item</a>
            <a class="nav-link" href="#">Messenger</a>
            <a class="nav-link" href="#">Admin</a>
        </nav>
    </div>
</header>
</html>